body {
  background-color: black;
  color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ol,
ul {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

.header {
  height: 112px;
}

.container {
  display: flex;
  margin: 0 auto;
  max-width: 1160px;
  padding: 29px;
}
.navigation {
  display: flex;
  align-items: center;
}

.navigation-list {
  display: flex;
  list-style-type: none;
}
.list {
  margin-left: auto;
}
.navigation-list-item {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.navigation-list-item:not(:last-child) {
  margin-right: 24px;
}

.logo {
  margin-right: 47px;
}

.button-nav {
  width: 193px;
  height: 52px;
  background-color: orange;
  border-style: none;
  border-radius: 8px;
  font-size: 10px;
  margin-left: auto;
}

.icon {
  background-color: #5a5a5a;
  border-radius: 50%;
  padding: 10px;
}

.hero {
  height: 796px;
  background-image: url("./images/GTA6banner.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

.container-column {
  flex-direction: column;
}

.container-games {
  display: flex;
  align-items: center;
  margin-top: 60px;
}

.games-text {
  font-size: 48px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-weight: bold;
  color: aliceblue;
}

.games-list {
  display: flex;
  list-style-type: none;
  margin-left: auto;
}

.games-list-btn {
  font-size: 16px;
  color: aliceblue;
  background-color: #606060;
  border-radius: 20px;
  border-style: none;
  padding-left: 18px;
  padding-right: 18px;
  height: 32px;
}

.games-list-item:not(:last-child) {
  margin-right: 16px;
}

.container-foto {
  padding-top: 40px;
  margin: auto;
}

.games-foto {
  border-radius: 17px;
  text-align: center;
}

.games-foto-item:not(:last-child) {
  margin-right: 40px;
}

.games-btn {
  display: block;
  margin: auto;
  background-color: orange;
  height: 63px;
  width: 260px;
  border-style: none;
  border-radius: 8px;
  margin-top: 60px;
}
