body {
  background-color: rgb(20, 19, 19);
  color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ol,
ul {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

.header {
  height: 112px;
}

.container {
  /* display: flex; */
  margin: 0 auto;
  max-width: 1160px;
  padding: 29px;
}
.header-container {
  display: flex;
}
.navigation {
  display: flex;
  align-items: center;
}

.navigation-list {
  display: flex;
  list-style-type: none;
}
.list {
  margin-left: auto;
}
.navigation-list-item {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.navigation-list-item:not(:last-child) {
  margin-right: 24px;
}

.logo {
  margin-right: 47px;
}

.button-nav {
  width: 193px;
  height: 52px;
  background-color: orange;
  border-style: none;
  border-radius: 8px;
  font-size: 10px;
  margin-left: auto;
}

.icon {
  background-color: #5a5a5a;
  border-radius: 50%;
  padding: 10px;
}

.hero {
  height: 796px;
  background-image: url("./images/GTA6banner.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

.container-column {
  flex-direction: column;
}

.container-games {
  display: flex;
  align-items: center;
  margin-top: 60px;
}

.games-text {
  font-size: 48px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-weight: bold;
  color: aliceblue;
}

.games-list {
  display: flex;
  list-style-type: none;
  margin-left: auto;
}

.games-list-btn {
  font-size: 16px;
  color: aliceblue;
  background-color: #606060;
  border-radius: 20px;
  border-style: none;
  padding-left: 18px;
  padding-right: 18px;
  height: 32px;
}

.games-list-item:not(:last-child) {
  margin-right: 16px;
}

.container-foto {
  padding-top: 40px;
  margin: auto;
}

.games-foto {
  border-radius: 17px;
  text-align: center;
}

.games-foto-item:not(:last-child) {
  margin-right: 40px;
}

.games-btn {
  display: block;
  margin: auto;
  background-color: orange;
  height: 63px;
  width: 260px;
  border-style: none;
  border-radius: 8px;
  margin-top: 60px;
}
.news-header {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold";
  font-size: 48px;
  height: 72px;
  margin-bottom: 40px;
}
.news-list {
  /* display: flex; */
  list-style-type: none;
}

.news-item-image {
  border-radius: 16px 16px 0 0;
}

.news-item {
  position: relative;
}

.news-item:not(:last-child) {
  margin-bottom: 36px;
}

.news-wrapper {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold";
  position: absolute;
  height: 136px;
  width: 860px;
  top: 365px;
  background-color: black;
  border-radius: 0 0 16px 16px;
}

.news-wrapper-text {
  font-size: 32px;
  margin-left: 32px;
  margin-top: 24px;
}

.news-wrapper-date {
  font-size: 16px;
  color: #606060;
  margin-left: 32px;
  margin-top: 8px;
}
.container-all {
  display: flex;
  justify-content: space-between;
}

.small-wrapper {
  top: 157px;
  height: 82px;
  width: 260px;
}

.small-text {
  font-size: 14px;
}

.small-date {
  font-size: 12px;
}

.launcher-bg {
  display: flex;
  /* justify-content: right; */
  align-items: center;
  background-image: url("./images/fundo.jpg");
  height: 535px;
  border-radius: 16px;
  margin-bottom: 95px;
}

.launcher-list {
  list-style-type: none;
  color: black;
  margin-left: 76px;
}

.launcher-item {
  display: flex;
  align-items: center;
  margin-bottom: 32px;
}
.launcher-logo {
  border-radius: 26px;
  width: 137px;
  height: 126px;
}
.launcher-logo-text {
  font-size: 41px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold";
  margin-left: 18px;
}
.launcher-text {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 32px;
}

.launcher-btn {
  display: block;
  background-color: orange;
  height: 63px;
  width: 260px;
  border-style: none;
  border-radius: 8px;
  margin-top: 64px;
  font-weight: bold;
  font-size: 20px;
  margin-right: auto;
}

.red-img {
  width: 660px;
  height: 471px;
  margin-left: auto;
}
